table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    background-color: #d0c6c6;
    color: rgb(16, 1, 1);
  }
