 tr:nth-child(even){background-color: #0b0000;}

 tr:hover {background-color: #0b0000;}

 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eee5e5;
    color: white;
  }
